<h1>Contact Us</h1>
<p>The mages guild attempts to be inclusive to all schools of magic and that comes through in the many ways in which one may come into contact with us</p>
<p>The list of means of communications available to reliably contact the mages guild are as follows</p>

<ul>
  <li>Carrier Pidgeon</li>
  <li>Carrier Owl</li>
  <li>Carrier Spirit</li>
  <li>Phone</li>
  <li>Telepathy</li>
  <li>Email</li>
  <li>Quantum Entangled Quill-pens</li>
  <li>Constelation rearrangement</li>
  <li>US Postal Service</li>
</ul>
