<div class="filter">
  <label for="keys">Select a parameter to search by:</label>
  <select class="form-control" #keySelect name="keys" [(ngModel)]="keyToSearch">
    <option *ngFor="let key of keys" value={{key}}>{{key}}</option>
  </select>
  <label>Select a value to search for:</label>
  <select class="form-control" #roleFilter>
    <option value="all">all</option>
    <option *ngFor="let role of members | async | removeDupes:keyToSearch" value={{role}}>{{role}}</option>
  </select>
  <button (click)="filterByThis(roleFilter.value)" class="btn btn-md btn-info">Search</button>
</div>

<div class="member" *ngFor="let member of members | async | memberFilter:keyToSearch:searchKey">
  <h3 (click)="goToProfile(member)"><a (click)="$event.preventDefault();" href="#">{{member.lastName}}, {{member.firstName}}</a></h3>
  <h4>{{member.level}} of {{member.school}}</h4>
  <p>Guild Role: {{member.role}}</p>
  <div class="adminControls alert alert-warning" *ngIf="currentRoute === '/admin'">
    <div class="btn-group">
      <button (click)="selectMember(member)" class="btn btn-xs btn-warning">Edit</button>
      <button (click)="deleteMember(member)" class="btn btn-xs btn-danger">Delete</button>
    </div>
    <div class="edit">
      <form *ngIf="selectedMember=== member">
        <div class="form-group">
          <label>Member's First Name:</label>
          <input class="form-control" name="selectedMember.firstName"  [(ngModel)]="selectedMember.firstName">
        </div>
        <div class="form-group">
          <label>Member's Last Name:</label>
          <input class="form-control" name="selectedMember.lastName"  [(ngModel)]="selectedMember.lastName">
        </div>
        <div class="form-group">
          <label>Member's School of Magical Study:</label>
          <input class="form-control" name="selectedMember.school"  [(ngModel)]="selectedMember.school">
        </div>
        <div class="form-group">
          <label>Member's Level in their Magical School:</label>
          <select class="form-control" name="selectedMember.level" [(ngModel)]="selectedMember.level">
            <option value="Novice">Novice</option>
            <option value="Apprentice">Apprentice</option>
            <option value="Journeyman">Journeyman</option>
            <option value="Expert">Expert</option>
            <option value="Master">Master</option>
          </select>
          <div class="form-group">
            <label>Member's Role in the Guild:</label>
            <input class="form-control" name="selectedMember.role"  [(ngModel)]="selectedMember.role">
          </div>
          <button (click)="editMember(member)">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
